﻿/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.bg-dark {
    --bs-bg-opacity: 1;
    background-color: rgb(38 123 125 / 67%) !important;
}

.navbar-inverse {
    background-color: #FAFAD2;
    border-color: antiquewhite;
}

.navbar-inverse .navbar-nav > li > a
{
    color: whitesmoke;
}

.navbar-inverse .navbar-brand
{
    color: whitesmoke;
}
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
